@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
    font-family: "Lucida Unicode Calligraphy";
    src: url("../fonts/LucidaUnicodeCalligraphy.ttf");
}
@font-face {
    font-family: "Lucida Unicode Calligraphy Bold";
    src: url("../fonts/LucidaUnicodeCalligraphyBold.ttf");
}

.swiper-button-next,
.swiper-button-prev {
    color: #838383 !important;
}

.swiper-pagination-bullet-active {
    background-color: red !important;
}

.splide__arrow {
    display: none !important;
}

.splide__pagination {
    display: none !important;
}

@media screen and (max-width: 1600px) {
    .nav--top {
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .nav--top {
        font-size: 14px;
    }
}
